<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  {% block styles %}
  <!-- inject:css -->
  <!-- endinject -->
  {% endblock %}
  <!-- endbuild -->


</head>
<body>
  {% block content %}
  {% endblock %}



  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  {% block scripts %}
  <!-- inject:js -->
  <!-- endinject -->
  {% endblock %}
  <!-- endbuild -->
</body>
</html>
